@import url(./__content/avatar-popup__content.css);
@import url(./_is-opened/avatar-popup_is-opened.css);
@import url(./__title/avatar-popup__title.css);
@import url(./__form/avatar-popup__form.css);
@import url(./__input/avatar-popup__input.css);
@import url(./__button/avatar-popup__button.css);
@import url(./__button/__button_enabled/avatar-popup__button_enabled.css);

.avatar-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}